html,
body,
#root {
  height: 100%;
  background-color: #f7f7f7;
}

.form-background {
  height: 100%;
  background-image: url("/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.full {
  height: 100% !important;
}

.square-radius {
  border-radius: 0px !important;
}

.text-light {
  color: #dcddde;
  text-align: center;
}

.hover {
  position: relative;
  width: 100%;
}

.card-img-transition {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.middle {
  opacity: 0;
}

.hover:hover .card-img-transition {
  opacity: 0.3;
}

.hover:hover .middle {
  opacity: 1;
}

.gradient-image::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, #fff 100%);
  margin-top: -150px;
  height: 150px;
  content: "";
}

.content {
  padding: 1em 3em;
}

.padding-0 {
  padding: 0em !important;
}

.padding-3 {
  padding: 3em !important;
}

.margin-10 {
  margin: 10px !important;
}

.grid-errors {
  top: 30% !important;
  position: fixed !important;
  width: 100% !important;
}

.img-thumbnail {
  height: 200px;
  width: 100%;
}
